/* 改变主题色变量 */
$--color-primary: #0cf;
$--border-radius-base: 10px;
$--font-size-base: 12px;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";//注意此处引入了所有组件的scss样式